.wp-block-gpb-single-product.single-product {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-top: 1px solid rgb(240, 240, 240);
  padding: 5px 0;

  .product-info {
    flex: auto;
  }

  .product-title p {
    margin: 0;
  }

  .product-cart-btn a {
    display: inline-block;
    padding: 8px 30px;
    transition: 0.2s;
    font-weight: 700;
  }
  .product-cart-btn a:hover {
    color: #000 !important;
  }
}
